<div class="container">
    <h2>Add Destination</h2>
    <!-- <form [formGroup]="destinationForm" (ngSubmit)="addDestination()">
        <mat-form-field class="form-field col-md-12" appearance="outline">
            <mat-label for="cityFld" class="form-label">City</mat-label>
            <input id="cityFld" matInput type="text" formControlName="city" required placeholder="City" />
            <mat-error *ngIf="destinationForm.get('city')?.hasError('required')">
                City is required.
            </mat-error>
        </mat-form-field>
        
        <button mat-raised-button color="primary" type="submit"
            [disabled]="destinationForm.invalid" >
            Save
        </button>
    </form> -->
</div>
